.demo-footer
	.container.text-center
		a(href='http://keystonejs.com/', target='_blank') KeystoneJS
		|  is a 
		a(href='http://nodejs.org/', target='_blank') Node.js
		|  content management system and web application platform built on 
		a(href='http://expressjs.com/') Express
		|  and 
		a(href='http://www.mongodb.org/', target='_blank') Mongo.
		//- p
			a(href='http://github.com/JedWatson/keystone-demo', target='_blank', title='View on GitHub').btn.btn-default View on GitHub
			a(href='http://www.keystonejs.com', target='_blank', title='KeystoneJS Documentation').btn.btn-link Read the Docs
.demo-footer-floor
	.container
		.social-buttons
			.social-button.social-button__twitter: a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="true") Follow @keystonejs
			.social-button.social-button__github: iframe(src="http://ghbtns.com/github-btn.html?user=JedWatson&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=86, height=20)