//
// Layout
// ==============================


// Header
// ------------------------------

.site-header {
	padding-top: 20px;
	padding-bottom: 20px;
}


// Footer
// ------------------------------

.site-footer {
	border-top: 1px solid fade(@text-color, 20%);
	color: fade(@text-color, 50%);
	margin-top: 100px;
	padding: 50px 0;
	position: relative;
	text-align: center;
}


// Navigation
// ------------------------------

// @media (min-width: @grid-float-breakpoint) {
// 	.navbar-left {
// 		.pull-left();
// 		margin-left: -@navbar-padding-horizontal;
//
// 		~ .navbar-left {
// 			margin-left: 0;
// 		}
// 	}
// }
