// Theme
// ------------------------------




// ==============================
// HERO
// ==============================
#hero {
	background-color: @brand-secondary;
	color: white;
	margin-top: -40px; // offset nav margin
	margin-bottom: 40px; // offset nav margin
	padding: 20px 0;
	
	a {
		color: white;
	}
	h1 {
		font-size: @font-size-large;
		line-height: 1.4;
		margin: 0;
	}
	p {
		margin: 30px 0 0;
	}
	
	.buttons {
		float: right;
		
		.btn + .btn {
			margin-left: 10px;
		}
		.btn-primary {
			background-color: white;
			border-color: white;
			color: @brand-secondary;
		}
		.btn-link {
			border-radius: @border-radius-base;
			border-color: white;
			
			&:hover {
				background-color: @brand-secondary;
				text-decoration: none;
			}
		}
	}
	
	.notes {
		color: @gray-light;
		font-size: 85%;
		
		a {
			color: @gray-light;
			text-decoration: underline;
			
			&:hover {
				color: @gray;
			}
		}
	}
	
	@media (min-width: @screen-sm-min) {
		h1 {
			font-size: @font-size-large + 4;
		}
	}
}