//
// Variables
// So we can safely update to the next version of Bootstrap
// --------------------------------------------------



// colours
@brand-secondary:          #4db9bf;
@brand-important:          #e94238;
@brand-tertiary:           #f69c00;
@brand-info:               #00b5e3;




// Navbar
// -------------------------

@navbar-height: 46px;

// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-light;
@navbar-inverse-bg:                         #212223;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @gray-light;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            lighten(@navbar-inverse-bg, 10%);
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        lighten(@navbar-inverse-bg, 10%);